*{
    margin: 0;
    padding: 0;
}
body{   
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
#burbujas-container {
        position: fixed;
        inset: 0;
        overflow: hidden;
        pointer-events: none;
        z-index: 9999;
}

.burbuja {
    position: absolute;
    /* Eliminamos bottom: 0 para que no se pinchen abajo */
    background-color: rgba(0, 255, 247, 0.6); /* Un poco más de color */
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
}

@keyframes explosion {
    0% {
        opacity: 0;
        transform: translate(0, 0) scale(0);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /* Usaremos variables de JS para que cada una vaya a un lado distinto */
        transform: translate(var(--dest-x), var(--dest-y)) scale(1.5);
    }
}
.mensaje-especial {
    position: absolute; /* Para que flote sobre las burbujas */
    top: 50%;           /* Lo baja al centro vertical */
    left: 50%;          /* Lo mueve al centro horizontal */
    transform: translate(-50%, -50%); /* Ajuste exacto para centrarlo */
    
    color: red;         /* Color de las letras */
    font-family: Arial, sans-serif;
    font-size: 2.5rem;  /* Tamaño de letra grande */
    font-weight: bold;  /* Letras negritas */
    text-align: center;
    z-index: 100;       /* Asegura que esté por encima de las burbujas */
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Sombra suave para que resalte */
}

.corazon {
    display: block;     /* Hace que el corazón salga abajo del texto */
    font-size: 4rem;    /* Corazón más grande */
    margin-top: 10px;
}